@model PontoSync.Models.MarcacaoFrequencia

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MarcacaoFrequencia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatServidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatServidor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataMarcacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataMarcacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraMarcacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraMarcacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dispositivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dispositivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusMarcacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusMarcacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoOrigem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoOrigem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sq_Importacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sq_Importacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
