@model X.PagedList.IPagedList<PontoSync.Models.MarcacaoFrequencia>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].MatServidor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].DataMarcacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].HoraMarcacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Dispositivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].StatusMarcacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].TipoOrigem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Sq_Importacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatServidor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataMarcacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraMarcacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dispositivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusMarcacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoOrigem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sq_Importacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))
